# Terraform state и кэш
**/*.tfstate
**/*.tfstate.*
**/*.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl

# СЕКРЕТЫ (КРИТИЧНО для публичного репозитория!)
**/*.tfvars
!**/example.tfvars
**/secrets/
**/*.pem
**/id_rsa*
**/id_ed25519*
**/.env

# Ansible
**/*.retry

# IDE и OS
.idea/
.vscode/
**/*.swp
**/*.swo
*~
.DS_Store
Thumbs.db
**/terraform.tfvars
